{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>
          Hello there! My name is Lilith Balabekyan, and I'm delighted to share a little bit about myself with you. At the age of 17, I find myself immersed in the exciting world of technology, particularly as a Python developer and web designer. Though my journey has just begun, I am determined to pursue my passion and become a proficient professional in the realm of Python programming, even though it can be quite challenging at times.</p>
        <p>Currently, I am a dedicated student at high school, juggling my academic pursuits with my insatiable appetite for coding. It's truly incredible how the world of programming has captured my imagination and allowed me to bring my creative visions to life. From crafting elegant and functional websites to developing innovative software solutions, Python has become my trusted companion in this exhilarating journey.</p>
        <p>While the path of a Python developer may be strewn with obstacles, I embrace the challenges as opportunities for growth. I am constantly pushing myself to learn new concepts, master intricate coding techniques, and stay up-to-date with the ever-evolving landscape of programming. The learning process can be demanding, but it is also immensely rewarding. Each breakthrough and successful project fuels my determination to keep pushing forward, even when faced with difficulties.</p>
        <p>Looking ahead, my goal is to become a respected professional in Python programming. I aspire to contribute to the industry, leveraging my skills and knowledge to create innovative solutions that make a positive impact on people's lives. Whether it's developing efficient algorithms, designing user-friendly interfaces, or collaborating with fellow programmers, I am eager to embrace the challenges that lie ahead.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}